body{
    font-family: 'Otomanopee One', sans-serif;
font-family: 'Shadows Into Light', cursive;
margin: 0;
}

.orange-color{
    color: rgb(243, 57, 10);
}
.display-flex{
    display: flex;
}
section{
    margin-bottom: 10%;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 20px;
}
p{
    font-size: 20px;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-color: rgb(255, 40, 2);
    padding: 10px 40px;
    font-size: 20px;
    border-radius: 10px;
    font-weight: 700;
    color: white;
}
.width{
    width: 80%;
    padding: 5%;

}
.width img{
    width: 50%;
    padding-left: 10%;
    
}
.background{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    
}
.center{
    text-align: center;
}
 
.shadow{
    width: 40%;
    margin-left: 5%;
    margin-right: 2%;
    padding-left: 2%;
    padding-top: 2%;
    box-shadow: 10px 10px 40px rgb(230, 226, 226);
    border-radius: 5%;

}
.shadow img{
        width: 90%;
        
}
.space{
    padding-inline-end: 20%;
    margin-left: 5%;

    

}
.shadow-second{ 
    
    width: 90%;
    margin-left: 6%;
    margin-right: 2%;
    padding-left: 2%;
    padding-top: 2%;
    
    box-shadow: 10px 10px 80px rgb(199, 195, 195);
    border-radius: 10px;
    display: flex;

}


